.DS_Store
*.swp
.idea/
build/
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*.mode1v3
*.mode2v3
*.svn.*
taocz.xcodeproj/xcshareddata/xcschemes
taocz.xcodeproj/project.xcworkspace/xcshareddata/
taocz.xcworkspace/xcuserdata/
xcshareddata
Podfile.lock
Pods

